<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
        <meta charset="{{ site.charset }}">
        {{ function('wp_head') }}
		<title>Document</title>
	</head>
	<body class="{{ body_class }}">
            {% block body '' %}
    </body>

    {{ function('wp_footer') }}
</html>
